*{
    margin: 0;
    padding: 0;
}
  #logo{
    height: 210px;
}
  .bouton {
    border-radius: 0px;   
}
 nav li a {
    text-decoration: none;
    color: black;   
}
  .boutonsDoubles button {
    background-color: #ffffff;
    border: 1px solid rgb(0, 0, 0); 
    color: rgb(0, 0, 0); 
    padding: 10px 24px; 
    cursor: pointer; 
    float: left; 
  }
  .boutonsDoubles:after {
    content: "";
    clear: both;
    display: table;
  }
  #groupebouton{
    padding-left: 82%;
    margin-bottom: 3% ;
  }
  .boutonsDoubles button:not(:last-child) {
    border-right: none; 
  }
  .boutonsDoubles button:hover {
    background-color: #f1c1b7;
  }
  nav {
    height: 50px;
    background-color: #F7F7F7;
  }
  /* ul {
    height: 50px;
  } */
  li {
    padding: px;
    display: inline;
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  #barre {
    border-radius: 3%;
    width: 30%;
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
  }
#ImgHp {
    width: 100%;
    height: 5%;
    margin-top: 1%;
}
#ImgNews {
    width: 100%;
    height: 5%;
    margin-top: 1%;
}
.textepanier {
    font-size: small;
}
.panier {
height: fit-content;
width: fit-content;
padding-left: 73%;
margin-top: 2.5%;
}
#head {
    display: flex;
}
img {
  max-width: 100%;
}
/* Définition d'un container pour gérer l'affichage */
.container {
  /*overflow: hidden;
  /* Cache les éléments qui dépassent du container */
}
/* Définition du carousel */
.carousel {
  position: relative;
  /* Le carousel est positionné relativement à son parent */
}
/* Définition de l'élément contenant les diapositives */
.carousel-inner {
  display: flex;
  /* Affiche les éléments en ligne */
  overflow: hidden;
  /* Cache les éléments qui dépassent */
  height: 100vh;
  /* Hauteur égale à 100% de la hauteur de la vue */
  flex-wrap: nowrap;
  /* Empêche les éléments de se placer sur plusieurs lignes */
}
/* Définition des diapositives */
.slide {
  flex: 0 0 100%;
  /* Largeur de chaque diapositive est de 100% */
  height: 100%;
  /* Hauteur de chaque diapositive est de 100% */
  transition: .5s ease-in-out;
  /* Ajout d'une animation douce pour la transition entre les diapositives */
}
/* Définition de l'affichage de l'image de chaque diapositive */
.slide img {
  width: 100%;
  /* Largeur de l'image est de 100% */
  height: 100%;
  /* Hauteur de l'image est de 100% */
  object-fit: cover;
  /* Couvre tout l'espace disponible */
}
/* Définition des boutons de contrôle du carousel */
.carousel-controls {
  position: absolute;
  /* Les boutons sont absolument positionnés */
  z-index: 5;
  /* Ils sont placés au-dessus des autres éléments */
  left: 10%;
  /* La distance à gauche est de 10% */
  right: 10%;
  /* La distance à droite est de 10% */
  top: 50%;
  /* La distance du haut est de 50% */
  display: flex;
  /* Affiche les boutons en ligne */
  justify-content: space-between;
  /* Espacement égal entre les boutons */
}
/* Style des boutons de contrôle */
.carousel-controls button {
  padding: 10px;
  /* Ajout de padding pour un meilleur contrôle */
  background-color:#f1c1b7;
  /* Arrière-plan en aquamarine */
}
/* Définition des points de contrôle */
.carousel-dots {
  position: absolute;
  /* Les points sont absolument positionnés */
  z-index: 5;
  /* Ils sont placés au-dessus des autres éléments */
  left: 50%;
  /* La distance à gauche est de 50% */
  right: 50%;
  /* La distance à droite est de 50% */
  bottom: 10%;
  /*La distance du bas est de 10% */
  display: flex;
  /* Affiche les points en ligne */
  justify-content: center;
  /* Centrage des points */
}
/* Style des points de contrôle */
.carousel-dots .dot {
  border-radius: 50%;
  /* Les points sont en forme de cercle */
  margin: 5px;
  /* Ajout d'un margin pour un meilleur contrôle */
  cursor: pointer;
  /* Curseur en forme de main pour un meilleur contrôle */
}
/* Styles pour les points de navigation du carrousel */
.carousel-dots .active {
  /* Border de 10px pour le point actif */
  border: 10px solid #69666631 !important;
  /* !important permet de surcharger les autres styles éventuels */
}
.carousel-dots .inactive {
  /* Border de 10px pour les points inactifs */
  border: 10px solid #f1c1b7;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.027);
  width: 20%;
  margin: auto;
  font-size: 10px;
}
.price {
  color: grey;
  font-size: 10px;
}
.card button {
  border: none;
  outline: 0;
  padding: 20px;
  color: black;
  background-color: #f1c1b7cb;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  font-weight: bold;
  border-radius: 8px;
}
.card button:hover {
  opacity: 0.5;
}
.column {
  float: left;
  width: 100%;
  padding: 20px;
}
/* Remove extra left and right margins, due to padding in columns */
.row {margin: 0 -5px;}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 25px;
  text-align: left;
  background-color: #f1f1f1;
  border-radius: 20px;
}
/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}
